$primary-color: #ffe600;

$primary-font-color: #333;
$secondary-font-color: #666;
$tertiary-font-color: #999;

$background-color: #EEE;
$main-background-color: #FFF;

$primary-button-color: #3483FA;
$primary-button-color-hover: #2968c8;